*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff;
    color: #222;
}

/* Hero section  */

.Hero {
    height: 90vh;
    background: url('images/background.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.Hero h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
 .Hero p{
    font-size: 1.2rem;
    margin-bottom: 20px;
 }
 .btn{
    padding: 12px 24px;
    background: #ff6f91;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
 }

 /* About  */
 .About-us{
    display: flex;
    padding: 50px;
    gap: 40px;
    align-items: center;
 }

 .About-us img{
    width: 300px;
    border-radius: 10px;
 }

 /* Products  */
 .products{
    text-align: center;
    padding: 50px 20px;
 }

 .products-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
 }

 .product img {
    width: 200px;
    border-radius: 10px;
 }

 .product h3{
    margin: 10px 0;
 }

 /* buy-btn  */
 .buy-btn{
   background-color: #ff6f91;
   color: white;
   padding: 10px 18px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-weight: 600;
   transition: 0.3s;
 }
 .buy-btn:hover{
   background-color: deeppink;
 }

 .product-popup img{
   width: 150px;
   height: auto;
   object-fit: contain;
   display: block;
   margin: 0 auto;
   border-radius: 10px;
   box-shadow: 0 0 15px rgba(255, 0, 119, 0.3);
 }
 .popup-content{
   max-width: 300px;
   padding: 20px;
 }

 /* Testimonials  */
.testimonials{
    background: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
}
.review{
    margin: 20px auto;
    max-width: 500px;
    font-style: italic;
}

/* Footer */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 18px;
}